.about-container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-me-container {
  margin-top: 5%;
  /* margin-left: 20%; */
  width: 70%;
}

.about-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.horizontal-line {
  margin-top: -2px;
  border: 1px solid black;
}
