.App {
  /* margin-left: 5rem;
  margin-right: 5rem; */
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.AppHeader {
  height: auto;
}

.contentTest {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
