.navbarContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  /* margin-top: 150px; */
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #1a1a1a, #00092a);
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  margin-left: 100px;
  color: white;
}

.navcontent {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  width: 30%;
  font-size: 30px;
  color: white;
}

.navcontent a {
  color: white;
  text-decoration: none;
}

/* .navcontent :visited {
  color: #bababa;
} */
