body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #1a1a1a, #00092a);
}

@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
