.content {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.mainParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.mainParagraph p {
  display: flex;
  justify-content: center;
  color: #bababa;
  /* color: #383d3b; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}
