@font-face {
  font-family: "Ogg";
  src: url("http://db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.ttf")
    format("truetype");
}

.mainParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainParagraph p {
  width: 60%;
  display: flex;
  justify-content: center;
  color: #444444;
  font-family: "Ogg";
  font-size: 40px;
}
