.content {
  height: 500px;
  /* width: 100%; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.mainParagraph {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  width: 100vw;
}

.mainParagraph p {
  margin-top: 200px;
  width: 50%;
  display: flex;
  justify-content: center;
  color: #bababa;
  /* color: #383d3b; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

.content-mobile {
  height: 500px;
  /* width: 100%; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.mainParagraph-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  width: 100vw;
}

.mainParagraph-mobile p {
  margin-top: 33.5px;
  /* margin-top: 200px; */
  /* width: 50%; */
  display: flex;
  justify-content: center;
  /* color: #bababa; */
  color: #383d3b;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
}
