.League {
  display: flex;
  flex-direction: column;
}

.LeagueHeader {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 850px;
}

.LeagueName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.LeagueName p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: black;
}

.LeagueInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.LeagueInfo p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  /* color: black; */
  color: #808080;
}

.Teams {
  width: 850px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.TeamInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 212.5px;
  margin: 30px 0px 30px 0px;
}

.TeamInfo div {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  margin-top: 5px;
}

.TeamLogo {
  height: 100px;
  width: 100px;
}
