.projects-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header {
  margin-top: 5%;
  width: 70%;
}

@media screen and (max-width: 500px) {
  .projects-title {
    font-size: 24px;
  }
  .project-individual-title {
    font-size: 15px;
  }
  .project-individual-date {
    font-size: 12px;
  }
  .horizontal-line-projects {
    margin-top: 0%;
  }
  .text {
    font-size: 12px;
  }
  .text h1 {
    font-size: 22px;
  }
  .repo-container {
    width: 25%;
    height: auto;
  }
}
@media screen and (min-width: 501px) {
  .projects-title {
    font-size: 30px;
  }
  .project-individual-title {
    font-size: 20px;
  }
  .project-individual-date {
    font-size: 15px;
  }
  .text {
    font-size: 14px;
  }
  .text h1 {
    font-size: 26px;
  }
  .repo-container {
    width: 9%;
    height: auto;
  }
}
@media screen and (min-width: 1300px) {
  .projects-title {
    font-size: 50px;
  }
  .project-individual-title {
    font-size: 25px;
  }
  .project-individual-date {
    font-size: 20px;
  }
  .horizontal-line-projects {
    margin-top: 5%;
  }
  .text {
    font-size: 18px;
  }
  .text h1 {
    font-size: 28px;
  }
  .repo-container {
    width: 8%;
    height: auto;
  }
}
@media screen and (min-width: 1600px) {
  .projects-title {
    font-size: 50px;
  }
  .project-individual-title {
    font-size: 30px;
  }
  .project-individual-date {
    font-size: 25px;
  }
  .horizontal-line-projects {
    margin-top: 5%;
  }
  .text {
    font-size: 22px;
  }
  .text h1 {
    font-size: 36px;
  }
  .repo-container {
    width: 8%;
    height: auto;
  }
}

.projects-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.projects-container {
  width: 60%;
  height: 100%;
  margin-bottom: 3%;
}

.project-individual-container-top {
  width: 100%;
  height: 400px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.project-individual-container {
  width: 60%;
  height: 80%;
  margin: 3% 0% 0% 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-individual-container-bottom {
  width: 60%;
  height: 80%;
  margin: 3% 0% 3% 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clickable-img {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 85%;
  margin: 0 !important;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 0.9;
}

.text {
  background-color: #686868;
  color: white;
  /* font-size: 16px; */
  padding: 16px 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .repo-container {
  width: 10%;
  height: auto;
} */

.repo {
  width: 100%;
  height: auto;
}

.project-individual-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 20px; */
  margin-top: 1.5%;
  color: #6b6b6b;
  text-decoration: none;
  height: 10%;
}

.project-individual-title:hover {
  margin-top: 1.5%;
  color: black;
  text-decoration: none;
}

.project-individual-date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 15px; */
  /* margin: -3% 0% 0% 0%; */
  height: 5%;
  color: #6b6b6b;
}

.horizontal-line-projects {
  /* margin-top: 2%; */
  width: 100%;
  border: 0.5px solid black;
  /* margin: 0; */
}
