@media screen and (max-width: 350px) {
  .projects-page {
    margin-top: -13% !important;
  }
}
@media screen and (min-width: 351px) {
  .projects-page {
    margin-top: -8% !important;
  }
}
@media screen and (min-width: 750px) {
  .projects-page {
    margin-top: 2% !important;
  }
}
@media screen and (min-width: 1200px) {
}

.projects-page {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-top: 8% !important; */
  justify-content: center;
  margin: auto;
}

.container {
  position: relative;
  width: 25%;
  height: 35%;
  min-width: 250px;
  max-width: 350px;
  min-height: 300px;
  max-height: 350px;
  margin: 40px !important;
  background-color: white;
}

.project-img {
  width: 99%;
  height: 99%;
  object-fit: contain;
  object-position: 50% 50%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  /* border: 2px solid cyan; */
}

.middle {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  /* top: 100%; */
  left: 50%;
  transform: translate(-50%, -96%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 110%;
  height: 107%;
}

.text {
  background-color: #131313;
  border: 2px solid #ab0c2f;
  color: white;
  /* font-size: 16px; */
  padding: 16px 32px;
  height: 92%;
  /* width: 92%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.text p {
  margin-top: -5%;
}

.container:hover .project-img {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 0.9;
}

.repo-container {
  width: 20%;
  height: auto;
}

.repo {
  width: 100%;
  height: auto;
}
