.SearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchForm .error {
  background-color: pink;
  border: solid 1px red;
  color: maroon;
  margin: 1rem;
  padding: 1rem;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  border: 1px;
  border-bottom: 3px;
}

.SearchBar input {
  border: none;
  background-color: white;
  width: 800px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 30px;
  height: 60px;
  padding-left: 10px;
  border: 0;
  outline: 0;
  border-bottom: 4px solid #94ae89;
}

:focus {
  outline: none !important;
}

::placeholder {
  color: black;
  opacity: 1;
}

.SearchBar button {
  background-color: #94ae89;
  border: 2px;
  border-color: black;
  color: #23272a;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 25px;
  width: 110px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
